.Desktop {
    /* background: url("Images/bg-desktop-dark.jpg") no-repeat; */
    /* background-size: cover; */
    width: 100%;
    height: 16rem;
}
.main-form{
    margin : 0%;
}
.Media{
    display: none;
}
.Todocontainer{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 40%;
    margin: -14.5% 30% 0 auto;
}
.Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.Header h1 {
    color: white;
    letter-spacing: 1rem;
}

.Header img {
    cursor: pointer;
    height: 4%;
    width: 4%;
}
.Moon{
    margin-left: -58%;
}
.Sun{
    margin-top: 6%;
}

.Input{
    margin-top: 0%;
    width: 40%;
    margin-left: 30%;
    height: 50px;
    background-color: hsl(235, 21%, 11%);
    color: rgb(132, 171, 184);
    border: none;
    font-size: 18px;
}

.Inputholder{
    float: initial;
}

/* .Submit{
    height: 50px;
    cursor: pointer;
    background-color: hsl(235, 21%, 11%);
    color: gray;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
} */

.Todolist{
    margin-top: 5%;
    display: grid;
    margin-left: -18%;
    place-content: center;
    height:auto;
}
.Todolist ol li{
    width: 156%;
    padding:10px 10px;
    border-bottom: 1px solid lightgray;
    background-color: hsl(235, 21%, 11%);
    color: white;

}

.list input{
    margin-right: 5%;
    color: white;
}

.Function{
    /* position: absolute; */
    background-color:hsl(235, 21%, 11%) ;
    font-size:larger;
    margin-top: 5%;
    width: 162%;
}

.Function span{
    padding-left: 3.5%;
    padding-right: 3.5%;
    font-size: 15px;
    cursor: pointer;
    color: gray;
}

.Hover:hover{
    color: white;
}

input:checked + li{
    text-decoration: line-through;
    border-radius: 50%;
}

ol li span{
    float: right;
}

.CheckItem {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #adb1d9;
    cursor: pointer;
}

.CheckItem:checked{
    background: linear-gradient(120deg,skyblue 20%, #c641fc 98%, #59abff 33%);
}



@media (min-width:30px) and (max-width:750px) {

    .main-form{
        margin: 0 10%;
    }
    ol.list{
        padding-left: 10%;
    }

    .Media {
        display: block;
        width: 100%;
        height: 75%;
    }
    .Desktop{
        display: none;
    }
    .Header h1 {
        color: white;
        letter-spacing: 0.5rem;
        font-size: 150%;
        margin-left: 8%;
        margin-top: -42%;
    }
    .Sun{
        margin-top: -40%;
        margin-right: 8%;

    }
    .Todocontainer{
        display: flex;
        justify-content: inherit;
        flex-direction: column;
        width: inherit;
        margin:inherit;
    }
    .Input{
        margin-top: -30%;
        margin-left: 0%;
        width: 100%;
        height: 40px;
        background-color: hsl(235, 21%, 11%);
        color: lightblue;
        border: none;
        font-size: 18px;
    }

    .Todolist{
        margin-top: 0%;
        display: inherit;
        
    }
    .Todolist ol li{
        width: 100%;
        margin-left: 0%;
        border-bottom: 1px solid lightgray;
        background-color: hsl(235, 21%, 11%);
        color: white;

    }
    .list input{
        margin-right: 5%;
        color: white;
    }

    .Function{
        background-color:hsl(235, 21%, 11%) ;
        font-size:50%;
        width: 100%;
        height: 5%;
        margin-left: 0%;
    }
    .Function span{
        display: flex;
    flex-direction: column;
    text-align: center;
        font-size: 10px;
        cursor: pointer;
        color: gray;
        background-color: black;
    }
    .Hover:hover{
        color: white;
    }
    input:checked + li{
        text-decoration: line-through;
    }
}
